# Unity generated folders (ignore anywhere in repo)
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/[Bb]uild/
**/[Bb]uilds/
**/MemoryCaptures/
**/Recordings/
**/PackageCache/

# IDE / OS junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Blender temp
*.blend1
*.blend1.meta
